<div class="announcement-popup" id="announcementPopup" data-announcement-id="tellmepresave_v1">
	<div class="announcement-content">
		<img src="/pictures/announce/leelandanielvarsityannouncement.png" alt="Leeland Daniel Varsity Merch Drop Announcement" class="announcement-image" />
		<p class="announcement-text libre-caslon-text-regular">
			The time has come! Pre-save my new single 'tell me' coming out 10.3! 
		</p>

		<p class="announcement-text libre-caslon-text-regular">Click the link below and pre-save so you get the song when it comes out!!</p>
		<a href="https://unitedmasters.com/m/tell-me-352" target="_blank" style="color: #f7f6e3; text-decoration: underline; font-weight: bold">stream.leelandaniel.com</a>

		<button id="announcementCloseButton" class="announcement-button">Close</button>
	</div>
</div>
