<header class="main-header">
	<a href="/" aria-label="Home Page">
		<img src="/favicons/outoflovefavicon.png" alt="Leeland Daniel Official Logo" class="logo" />
	</a>
	<nav class="container">
		<ul class="clearfix" id="cfix">
			<li class="icon" id="icon">
				<a href="javascript:void(0);" onclick="myMenu()" class="menu-toggle">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</li>
			<li class="desktop-menu-wrapper">
				<ul class="scroll" id="scroll">
					<li>
						<a href="https://store.leelandaniel.com/" target="_blank">Shop Now</a>
					</li>
					<li><a href="/discography/">Discography</a></li>
					<li><a href="/videos/">Videos</a></li>
					<li><a href="/sign-up/">Sign Up</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</header>